.room-create-page {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  form {
    margin-top: 12px;
    background: var(--paper);
    padding: 30px 20px;
    width: 400px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;

    button {
      white-space: nowrap;
      margin-left: 10px;
    }
  }
}
